{% extends "base.html" %}
{% block extrahead %}
  <link rel="stylesheet" href="{{ 'overrides/assets/stylesheets/main.8464ae1a.min.css' | url }}">
{% endblock %}
{% block announce %}
  <a target="_blank" href="https://twitter.com/DartAndFlutter">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
  </a>
  <a target="_blank" href="https://www.instagram.com/dartandflutter.ar/">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/instagram.svg" %}
    </span>
  </a>
  <a target="_blank" href="https://www.facebook.com/dartandflutter.ar">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/facebook.svg" %}
    </span>
  </a>
  <a target="_blank" href="https://github.com/DartAndFlutter-ar">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/github.svg" %}
    </span>
  </a>

{% endblock %}
{% block content %}
  {% include "overrides/partials/content.html" %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ 'overrides/assets/javascripts/bundle.2bc01bfd.min.js' | url }}"></script>
{% endblock %}
